.nav{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.logo{
    border-radius: 20px;
    width: 10%; height: 10%;
}
.bienvenidos{
    text-align: center;
    color: black;
    padding: 5px;}
.text{
    text-align: center;
    padding: 10px;
}
.imgcjh{width: 200px; height: 200px;
   margin-left: 42%;
}